.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

app/src/main/obj/

# ignore folders which are copied by cmake or the user
app/src/main/jni/boost
app/src/main/jni/lsd_slam
app/src/main/jni/sophus

